<main class="end-failed">
  <section class="failure-message">
    <img loading="lazy"
         src="https://cdn.builder.io/api/v1/image/assets/TEMP/476b778ef24a60e9eb5da0b8c99774c8b1373f94903253ca146c29d5b61e8eac?placeholderIfAbsent=true&apiKey=7c20b8e89d514e09834af337881127f9"
         alt="Failure icon" class="failure-icon"/>
    <div class="message-content">
      <h1 class="message-title">Mở tài khoản thất bại!</h1>
      <p class="message-description">
        Lorem ipsum dolor sit amet consectetur. Velit erat in ac gravida neque adipiscing nunc quam. Ut mauris sapien ac
        quis varius vestibulum aenean varius. Leo hac vitae dui malesuada arcu euismod lacinia.
      </p>
    </div>
  </section>
  <button class="home-button">Về trang chủ</button>
</main>
