<main class="scan-id">

  <h1>Xác nhận & bổ sung thông tin</h1>
  <form>
    <div class="form-field">
      <div class="form-input-left">
        <div class="form-input">
          <label class="normal" for="phone">Số điện thoại</label>
          <br>
          <input class="semibold" type="tel" id="phone" name="phone" pattern="[0-9]{10}" required>
          <br>
          <span class="error-message">Vui lòng nhập số điện thoại!</span>
        </div>

        <div class="form-input">
          <label for="phone">Họ và tên</label>
          <br>
          <input class="semibold" type="tel" id="phone" name="phone" pattern="[0-9]{10}" required value="Nguyễn Vân Anh">
          <br>
          <!--          <span class="error-message">Vui lòng nhập số điện thoại đúng định dạng</span>-->
        </div>
        <div class="form-input">
          <label for="phone">Ngày sinh</label>
          <br>
          <input class="semibold" type="tel" id="phone" name="phone" pattern="[0-9]{10}" value="18/07/1995" required>
          <br>
          <!--          <span class="error-message">Vui lòng nhập số điện thoại đúng định dạng</span>-->
        </div>
        <div class="form-input">
          <label for="phone">Địa chỉ thường trú</label>
          <br>
          <input class="semibold" type="tel" id="phone" name="phone" pattern="[0-9]{10}" required
                 value="128, Ngõ 12, Lê Quang Đạo, Mễ Trì, Từ Liêm, Hà Nội">
          <br>
          <!--          <span class="error-message">Vui lòng nhập số điện thoại đúng định dạng</span>-->
        </div>
      </div>

      <div class="form-input-right">
        <div class="form-input-hiden">
          <label for="phone">Số điện thoại</label>
          <br>
          <input class="semibold" type="tel" id="phone" name="phone" pattern="[0-9]{10}" required>
          <br>
          <!--          <span class="error-message">Vui lòng nhập số điện thoại đúng định dạng</span>-->
        </div>

        <div class="form-input">
          <label for="phone">Số CMND/CCCD</label>
          <br>
          <input class="semibold" type="tel" id="phone" name="phone" pattern="[0-9]{10}" required value="01234567890">
          <br>
          <!--          <span class="error-message">Vui lòng nhập số điện thoại đúng định dạng</span>-->
        </div>

        <div class="form-input">
          <label for="phone">Giới tính</label>
          <br>
          <input class="semibold" type="tel" id="phone" name="phone" pattern="[0-9]{10}" value="Nữ" required>
          <br>
          <!--          <span class="error-message">Vui lòng nhập số điện thoại đúng định dạng</span>-->
        </div>

        <div class="form-input">
          <label for="phone">Nơi ở hiện tại</label>
          <br>
          <input class="semibold" type="tel" id="phone" name="phone" pattern="[0-9]{10}" required
                 value="128, Ngõ 12, Lê Quang Đạo, Mễ Trì, Từ Liêm, Hà Nội">
          <br>
          <span class="error-message">Vui lòng nhập số điện thoại đúng định dạng</span>
        </div>
      </div>
    </div>
    <button type="submit">Tiếp tục</button>
  </form>
</main>
