<main class="home">


  <h1 class="main-title">
    Quý khách vui lòng lựa chọn giao dịch cần thực hiện!
  </h1>
  <section class="transaction-options">
    <article class="transaction-card">
      <img loading="lazy"
           src="https://cdn.builder.io/api/v1/image/assets/TEMP/276198ee72993c17042bb46dfc2eb5da2398f637c5973d6c67978ae43f9d2271?placeholderIfAbsent=true&apiKey=7c20b8e89d514e09834af337881127f9"
           alt="Deposit money icon" class="transaction-icon"/>
      <h2 class="transaction-title">Nộp tiền</h2>
    </article>
    <article class="transaction-card">
      <img loading="lazy"
           src="https://cdn.builder.io/api/v1/image/assets/TEMP/541657f611a89252935ca8e231414c2e0d6d6f23cb2912520ada1eb4761cfe3f?placeholderIfAbsent=true&apiKey=7c20b8e89d514e09834af337881127f9"
           alt="Withdraw money icon" class="transaction-icon"/>
      <h2 class="transaction-title">Rút tiền</h2>
    </article>
    <article class="transaction-card">
      <img loading="lazy"
           src="https://cdn.builder.io/api/v1/image/assets/TEMP/a8ec3cdcf8b462577e720d6928cae94b6d1e20e8c65b4b9df2432144224b2f63?placeholderIfAbsent=true&apiKey=7c20b8e89d514e09834af337881127f9"
           alt="Transfer money icon" class="transaction-icon"/>
      <h2 class="transaction-title">Chuyển khoản</h2>
    </article>
  </section>
  <p class="account-query">Chưa có tài khoản?</p>
  <button class="cta-button" tabindex="0">
    Mở tài khoản thanh toán!
  </button>
</main>
