:host {
  display: contents;
}
.scan-id {
  border-radius: 8px;
  background-color: #f6f7f8;
  display: flex;
  padding: 0 0 214px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}
.header {
  background-color: #fff;
  align-self: stretch;
  position: relative;
  display: flex;
  min-height: 96px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.company-logo {
  aspect-ratio: 4.17;
  object-fit: contain;
  width: 167px;
  align-self: stretch;
}
.navigation-icons {
  display: flex;
  align-items: start;
  gap: 12px;
}
.nav-icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 32px;
}
.progress-bar {
  position: absolute;
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  left: 50%;
  bottom: 22px;
  transform: translateX(-50%);
  width: 675px;
  font: 400 16px Noto Sans, sans-serif;
}
.progress-line {
  object-fit: contain;
  width: 528px;
  position: absolute;
  z-index: 0;
  right: 55px;
  top: 12px;
  height: 0;
}
.progress-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
}
.step-number {
  border-radius: 48px;
  background-color: #fff3e5;
  min-height: 24px;
  width: 24px;
  color: #838383;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-number.active {
  background-color: #eb6719;
  color: #fff;
}
.step-text {
  color: #212121;
  margin-top: 4px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}
.page-title {
  color: #121212;
  text-align: center;
  font: 600 32px Noto Sans, sans-serif;
  letter-spacing: -0.32px;
}
.image-container {
  margin-top: 32px;
}
.id-guide-image {
  aspect-ratio: 1.59;
  object-fit: contain;
  width: 430px;
  border-radius: 0;
}
.instruction-box {
  display: flex;
  align-items: center;
  border-radius: 32px;
  border: 1px solid #40c7dd;
  background: linear-gradient(111deg, rgba(64, 199, 221, 0.2) 3.19%, rgba(64, 199, 221, 0.12) 104.02%);
  margin-top: 40px;
  gap: 8px;
  padding: 6px 16px 6px 8px;
}
.info-icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 24px;
}
.instruction-text {
  color: #212121;
  font: 400 16px Noto Sans, sans-serif;
}
@media (max-width: 991px) {
  .scan-id {
    padding-bottom: 100px;
  }
  .header {
    padding: 0 20px;
  }
  .progress-bar,
  .progress-line {
    max-width: 100%;
  }
  .page-title {
    margin-top: 40px;
  }
  .instruction-box {
    max-width: 100%;
  }
}
