<main class="scan-id">
  <section class="content">
    <h1 class="page-title">Chụp ảnh CMND/CCCD</h1>
    <div class="image-container">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a6665c37eee64a0de486fcb990cb87129fba96a1383534d59e1d773c54ced9ae?placeholderIfAbsent=true&apiKey=7c20b8e89d514e09834af337881127f9" alt="ID card placement guide" class="id-guide-image" />
    </div>
    <div class="instruction-box">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4a160cfb6178e5f3ff80885472dd395a0f6002be42e8dbdf37662f329c0ac14c?placeholderIfAbsent=true&apiKey=7c20b8e89d514e09834af337881127f9" alt="" class="info-icon" />
      <p class="instruction-text">Hãy đặt <strong>mặt sau</strong> của giấy tờ vừa trong khung hình</p>
    </div>
  </section>
</main>
